* { 
  box-sizing: border-box; 
}

body, h1 { 
  margin: 0;
  padding: 0;
}

body {
  background-image: url(thomas-galler--hH70nzkUQA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #0e2e61; 
  font-family: "Lucida Console", "Courier New", monospace;
}

#wrapper {         
  background-image: linear-gradient(to bottom, #FFFFFF, skyblue);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}  

header {
  background-color: #0e2e61;
  color: #ffffff;
  text-align: center;
}

header h1 {
  padding-top: 10px;
}

nav {
  height: 50px; 
  background-color: black;
  text-align: center;
  border: 1px solid #6C1E72;
  top:0;
  position: sticky;
  z-index: 1000;
} 

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px; 
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

nav a:link {
  color: hotpink;
}

nav a:visited {
  color: #0e2e61;
}

nav a:hover {
  color: skyblue;
}

nav a.active {
  background-color:hotpink;
  border-radius: 3px;
  color:blanchedalmond;
  margin-left: 16px;
}

#heroimg {
  height: 700px;
  background-image: url(spiral.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  object-fit: fill;
}

#aboutme {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: auto;
}

.video-container {
  float: right;
  margin-left: 20px; 
}

#aboutme video {
  margin-left: auto;
  margin-right: auto;
}

#contactme {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#contactme h2 {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

#achievements {
  width: 45%;
  margin-right: 5%;
}

#documentlist {
  width: 45%; 
  color: white;
  background-color: black;
}

#documentlist h2 {
  text-align: center;
}

#documentlist ul li a {
  color: hotpink;
}

#documentlist ul iframe {
  width: 500px;
  height: 500px;
}

#docimg {
  height: 700px;
  background-image: url(adi-goldstein-EUsVwEOsblE-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  object-fit: fill;
}

#abtimg {
  height: 700px;
  background-image: url(geometrics.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  object-fit: fill;
}

#eduimg {
  height: 700px;
  background-image: url(boban-simonovski-qkJ8sTSg0hk-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  object-fit: fill;
}

#certsanddegrees {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

#edustuff {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#edustuff h2 {
  text-align: center;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

#video-container video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white; 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.twocontainer {
  float: left;
  width: 50%; 
  padding: 10px; 
}

.row:after {
  content: "";
  display: table;
  clear: both; 
}

section {
  padding: 2rem;
}

table, th, td {
  border: 1px solid #6C1E72;
  margin-left: auto;
  margin-right: auto;
}

object {
  height: 700px;
  width: 80%;
}

th, td {
  padding: 10px;
  color: white;
}

th {
  color: white;
}

#aboutme h2 {
  text-align: center;
}

form {
  margin-right:auto;
  margin-left:auto;
  max-width: 50em;
  width: 80%;
  display: grid;
  gap: 1em;
  grid-template-columns: 12em 1fr;
}


.button-container {
  justify-content: space-between;
  grid-column: 2; 
  display: flex;
  flex-direction: row;
}

form input[type="submit"],
form input[type="reset"] {
  width: 49%;
}

footer {
  background-color: #0e2e61;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0 0 10px 0;
}

footer a {
  color: hotpink;
}

.socialMediaLinks a {
  font-size: 20px;
  margin: 0 10px 0 0;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
}
